[Path]
; Hier können Pfade eingetragen werden, in denen Skriptfiles gesucht werden
; Die Pfade müssen in Anführungszeichen und mit abschliessendem / bzw. \
; abgegeben werden. Z.B. ".\scripte\" für den Unterordner namens "scripte"

[Options]
EBase = 36
PBase = 36
BBase = 36

[Terrains]
; CRT,      MZM, MZO, MAXBAUER, LAND, EISEN, LAEN
;
;            v Dieses Kreuz ist gut um eigene Schiffe zu lokalisieren
"Ozean",    "#", ".",      0,     0,     0,     0
"Ebene",    "E", "e",  10000,     1,     0,     0
"Sumpf",    "S", "s",   2000,     1,     0,     0
"Wueste",   "D", "d",    500,     1,     0,     0
"Hochland", "H", "h",   4000,     1,     1,     0
"Berge",    "B", "b",   1000,     1,     1,     0
"Gletscher","G", "g",    100,     1,     1,     0
"Wald",     "W", "w",  10000,     1,     0,     0
"Feuerwand","F", "f",      0,     1,     0,     0

[Resources]
; NAME,         PPU (Platzbedarf pro Einheit)
"Baeume",        10
"Steine",        0
"Eisen",         0

[Ships]
;CRT,             KAP, RNG, TCAP, TCREW, HOLZ
"Boot",            50,  3,   1,      2,    5
"Langboot",       500,  4,   1,     10,   50
"Drachenschiff", 1000,  6,   2,     50,  100
"Karavelle",     3000,  6,   3,     30,  250
"Trireme",       2000,  8,   4,    120,  200

[Buildings]

[Races]
"Mehrzahl", "Menschen",  "Ameisen",  "Arganer",  "Elfen",  "Feen",  "Goblins",  "Hydren",  "Orks",  "Vampire",  "Zwerge",  "Zyklopen"  
"Einzahl",      "Mensch", "Ameise",  "Arganer",  "Elf",  "Fee",  "Goblin",  "Hydra",  "Ork",  "Vampir",  "Zwerg",  "Zyklop"  
"Unterhalt", 		10, 	10, 	10, 	10, 	10, 	9, 	10, 	10, 	10, 	10, 	10
Rekrutierungskosten  	75, 	60, 	80, 	130, 	95, 	40, 	90, 	50, 	100, 	90, 	110  
;"Trefferpunkte", 	10, 	10, 	10, 	10, 	10, 	10, 	10, 	10, 	10, 	10, 	10
;"Rüstung", 		0, 	0, 	0, 	0, 	0, 	0, 	0, 	0, 	0, 	0, 	0
"Armbrustschiessen",	0, 	0, 	-1, 	0, 	0, 	0, 	0, 	0, 	-1, 	0, 	-2  
"Bogenschiessen", 	0, 	0, 	0, 	2, 	0, 	0, 	0, 	0, 	-1, 	-1, 	-2  
"Katapultbedienung", 	0, 	-2, 	-2, 	-2, 	0, 	1, 	0, 	0, 	0, 	2, 	0  
"Hiebwaffen", 		0, 	0, 	-1, 	0, 	-1, 	0, 	-1, 	0, 	2, 	1, 	0  
"Stangenwaffen", 	0, 	1, 	1, 	0, 	0, 	0, 	1, 	0, 	-1, 	0, 	0  
"Reiten", 		0, 	-2, 	-1, 	0, 	0, 	0, 	0, 	0, 	-1, 	-2, 	-2  
"Taktik", 		0, 	1, 	0, 	0, 	0, 	-2, 	1, 	1, 	0, 	0, 	0  
"Bergbau", 		0, 	1, 	-1, 	-2, 	-1, 	1, 	-1, 	1, 	0, 	2, 	1  
"Burgenbau", 		0, 	-1, 	0, 	-1, 	-1, 	1, 	0, 	1, 	1, 	2, 	1  
"Handeln", 		0, 	0, 	2, 	0, 	1, 	-1, 	1, 	-3, 	-2, 	1, 	0  
"Holzfaellen", 		0, 	1, 	1, 	0, 	-1, 	0, 	-1, 	1, 	-1, 	-1, 	1  
"Magie", 		0, 	0, 	0, 	1, 	1, 	-1, 	0, 	-1, 	1, 	-2, 	0  
"Pferdedressur", 	0, 	-2, 	-1, 	1, 	0, 	0, 	-1, 	-1, 	0, 	-2, 	-2  
"Ruestungsbau", 	0, 	-1, 	-2, 	-1, 	0, 	0, 	1, 	1, 	0, 	2, 	0  
"Schiffbau", 		0, 	-1, 	2, 	-1, 	-1, 	-2, 	0, 	-1, 	0, 	-1, 	-2  
"Segeln", 		0, 	-1, 	2, 	-1, 	-1, 	-2, 	-1, 	-1, 	0, 	-2, 	-2  
"Steinbau", 		0, 	-2, 	0, 	-1, 	-1, 	0, 	-1, 	1, 	1, 	2, 	1  
"Strassenbau", 		0, 	-1, 	-2, 	-1, 	0, 	-2, 	0, 	0, 	0, 	2, 	2  
"Tarnung", 		0, 	1, 	0, 	1, 	1, 	1, 	0, 	0, 	1, 	-1, 	-1  
"Unterhaltung", 	0, 	0, 	0, 	0, 	2, 	-1, 	0, 	-2, 	0, 	-1, 	0  
"Waffenbau", 		0, 	1, 	0, 	0, 	-1, 	0, 	1, 	2, 	0, 	2, 	0  
"Wagenbau", 		0, 	-1, 	-1, 	0, 	-1, 	-1, 	0, 	-1, 	0, 	0, 	0  
"Wahrnehmung", 		0, 	0, 	0, 	1, 	1, 	0, 	0, 	0, 	1, 	0, 	0  
"Steuereintreiben", 	0, 	1, 	0, 	0, 	0, 	0, 	1, 	1, 	1, 	1, 	0  
"Bogenbau", 		0, 	-1, 	0, 	2, 	1, 	1, 	-1, 	0, 	-1, 	0, 	-1  
"Meucheln", 		0, 	0, 	0, 	0, 	-2, 	1, 	1, 	0, 	0, 	-1, 	-1  
"Gewicht", 		10, 	3, 	10, 	10, 	10, 	10, 	10, 	10, 	10, 	10, 	20
"Kapazität", 		7, 	7, 	7, 	7, 	7, 	7, 	7, 	7, 	7, 	7, 	17
"Wagenzug", 		0, 	0, 	0, 	0, 	0, 	0, 	0, 	0, 	0, 	0, 	3

[Castles]
;CRT,           AbGr, BauernBonus
"Grundmauern",     1,   1
"Befestigung",     2,   2
"Turm",           10,   3
"Schloss",        50,   4
"Festung",       250,   5
"Zitadelle",    1250,   6
"Magierturm",  20000,   7

[Things]
;CRT,           GE, KAP, PLURAL
"Armbrust",      1,   0, "Armbrueste"
"Bogen",         1,   0, "Boegen"
"Eisen",         5,   0, "Eisen"
"Holz",          5,   0, "Holz"
"Katapult",     60,   0, "Katapulte"
"Kettenhemd",    2,   0, "Kettenhemden"
"Pferd",        50,  20, "Pferde"
"Plattenpanzer", 4,   0, "Plattenpanzer"
"Runenschwert",  1,   0, "Runenschwerter"
"Schild",        1,   0, "Schilde"
"Schwert",       1,   0, "Schwerter"
"Speer",         1,   0, "Speere"
"Stein",        60,   0, "Steine"
"Wagen",        40, 140, "Wagen"
"Balsam",        1,   0, "Balsam"
"Gewuerz",       1,   0, "Gewuerz"
"Juwel",         1,   0, "Juwelen"
"Myrrhe",        1,   0, "Myrrhe"
"Oel",           1,   0, "Oel"
"Seide",         1,   0, "Seide"
"Weihrauch",     1,   0, "Weihrauch"
"Silber",        0.01,0, "Silber"
