[Path]
; Hier können Pfade eingetragen werden, in denen Skriptfiles gesucht werden
; Die Pfade müssen in Anführungszeichen und mit abschliessendem / bzw.
; abgegeben werden

[Terrains]
; CRT,      MZM, MZO, MAXBAUER, LAND, EISEN, LAEN
;
;            v Dieses Kreuz ist gut um eigene Schiffe zu lokalisieren
"Ozean",    "#", ".",      0,     0,     0,     0
"Ebene",    "E", "e",  10000,     1,     0,     0
"Sumpf",    "S", "s",   2000,     1,     0,     0
"Wueste",   "D", "d",    500,     1,     0,     0
"Hochland", "H", "h",   4000,     1,     1,     0
"Berge",    "B", "b",   1000,     1,     1,     0
"Gletscher","G", "g",    100,     1,     1,     0
"Wald",     "W", "w",  10000,     1,     0,     0

[Ships]
;CRT,             KAP, RNG, TCAP, TCREW, HOLZ
"Boot",            50,  3,   1,      2,    5
"Langboot",       500,  4,   1,     10,   50
"Drachenschiff", 1000,  6,   2,     50,  100
"Karavelle",     3000,  6,   3,     30,  250
"Trireme",       2000,  8,   4,    120,  200

[Buildings]
"Saegewerk", "Baukosten",  5, "Stein",  5, "Holz",  3, "Eisen",  400, "Silber", "Unterhalt",  500, "Silber", 1, "Holz", 1, "Eisen"
"Monument",  "Baukosten",  1, "Stein",  1, "Holz",  1, "Eisen", 4000, "Silber"
"Burg",      "Baukosten",  1, "Stein", "Unterhalt", 0, "Silber"

[Races]
"Mehrzahl",          "Personen"
"Einzahl",           "Person"
"Unterhalt",            10
"Rekrutierungskosten",  50
"Trefferpunkte",        10
"Rüstung",               0
"Armbrustschießen",      0
"Bergbau",               0
"Bogenschießen",         0
"Burgenbau",             0
"Handeln",               0
"Hiebwaffen",            0
"Holzfällen",            0
"Katapultbedienung",     0
"Magie",                 0
"Pferdedressur",         0
"Reiten",                0
"Rüstungsbau",           0
"Schiffbau",             0
"Segeln",                0
"Stangenwaffen",         0
"Steinbau",              0
"Steuereintreiben",      0
"Straßenbau",            0
"Taktik",                0
"Tarnung",               0
"Unterhaltung",          0
"Waffenbau",             0
"Wagenbau",              0
"Wahrnehmung",           0
"Gewicht",              10
"Kapazität",             6
"Wagenzug",              0

[Castles]
;CRT,           AbGr, BauernBonus
"Grundmauern",     1,   1
"Befestigung",     2,   2
"Turm",           10,   3
"Burg",           50,   4
"Festung",       250,   5
"Zitadelle",    1250,   6

[Things]
;CRT,           GE
"Armbrust",      1
"Bogen",         1
"Eisen",         5
"Holz",          5
"Katapult",    120
"Kettenhemd",    2
"Pferd",        50,  20
"Plattenpanzer", 4
"Runenschwert",  0
"Schild",        1
"Schwert",       1
"Speer",         1
"Stein",        60
"Wagen",        40, 140
"Balsam",        1
"Gewuerz",       1
"Juwel",         1
"Myrrhe",        1
"Oel",           1
"Seide",         1
"Weihrauch",     1
"Silber",        0.01
